<div class="row">        
     <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
       <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
         <i class="fas fa-bars"></i>
       </button>
       <div class="tm-sidebar-sticky">
         <div class="tm-brand-box">
           <div class="tm-double-border-1">
             <div class="tm-double-border-2">
               <h1 class="tm-brand text-uppercase">SOFT MEDIA</h1>
             </div>
           </div>
         </div>

         <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
          <li class="nav-item">
            <a href="intro.html" class="nav-link active current">
              <span class="d-inline-block mr-3">Intro</span>
              <span class="d-inline-block tm-white-rect"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">
              <span class="d-inline-block mr-3">About</span>
              <span class="d-inline-block tm-white-rect"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="work.html" class="nav-link">
              <span class="d-inline-block mr-3">Work</span>
              <span class="d-inline-block tm-white-rect"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="clients.html" class="nav-link">
              <span class="d-inline-block mr-3">Clients</span>
              <span class="d-inline-block tm-white-rect"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="letstotalk.html" class="nav-link">
              <span class="d-inline-block mr-3">Let's Talk</span>
              <span class="d-inline-block tm-white-rect"></span>
            </a>
          </li>
        </ul>
         <ul class="nav flex-row tm-social-links">
           
           <li class="nav-item">
             <a href="https://twitter.com/GrkanEser17" class="nav-link tm-social-link">
               <i class="fab fa-twitter"></i>
             </a>
           </li>
           
           <li class="nav-item">
             <a href="https://www.linkedin.com/in/g%C3%BCrkan-eser-281819224/" class="nav-link tm-social-link">
               <i class="fab fa-linkedin-in"></i>
             </a>
           </li>
         </ul>
         <footer class="text-center text-white small">
           <p class="mb--0 mb-2">Copyright 2022 Eser Software</p>
           <p class="mb-0">Design:
             <a rel="nofollow" href="https://github.com/esrgrkn" class="tm-footer-link">By Gürkan Eser</a>
           </p>
         </footer>
       </div>
     </nav>